<h2 mat-dialog-title> {{ formStatus }} de Cuenta </h2>
<mat-dialog-content>
    <form [formGroup]="accountForm">
        <div class="account-container">
            <mat-form-field>
                <mat-label>Cliente</mat-label>
                <mat-select formControlName="customerId">
                    <mat-option *ngFor="let customer of customers" [value]="customer.customerId">
                        {{ customer.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Tipo de Cuenta</mat-label>
              <mat-select formControlName="accountType" required>
                  <mat-option value="">Seleccione tipo cuenta</mat-option>
                  <mat-option value="Cuenta de Ahorro">Cuenta de Ahorro</mat-option>
                  <mat-option value="Cuenta Corriente">Cuenta Corriente</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Oficina/Sucursal</mat-label>
              <mat-select formControlName="branchName" required>
                  <mat-option value="">Seleccione oficina/sucursal</mat-option>
                  <mat-option value="Bulevar Niza">Bulevar Niza</mat-option>
                  <mat-option value="Centro Comercial Centro Suba">Centro Comercial Centro Suba</mat-option>
                  <mat-option value="Cedritos">Cedritos</mat-option>
                  <mat-option value="Iserra 100">Iserra 100</mat-option>
                  <mat-option value="Plaza Imperial">Plaza Imperial</mat-option>
                  <mat-option value="Portal de la 80">Portal de la 80</mat-option>
                  <mat-option value="Mazuren">Mazuren</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Estado de cuenta</mat-label>
              <mat-select formControlName="accountStatus" required>
                  <mat-option value="">Seleccione estado cuenta</mat-option>
                  <mat-option value="Active">Active</mat-option>
                  <mat-option value="Inactive">Inactive</mat-option>
              </mat-select>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button color="primary" (click)="onSave()" [disabled]="accountForm.invalid">
        <mat-icon>save</mat-icon> Guardar
    </button>
    <button mat-button color="primary" (click)="onCancel()">
        <mat-icon>cancel</mat-icon> Cancelar
    </button>
</mat-dialog-actions>
