.customer-container{
    display: flex;
    flex-direction: column;
}

.customer-container > * {
    width: 100%;
}

/* Snackbar personalizado - fondo azul, texto blanco */
.custom-snackbar {
  --mdc-snackbar-container-color: yellow !important;  /* Azul Material */
  --mdc-snackbar-supporting-text-color: white !important; /* Texto blanco */
  --mat-mdc-snack-bar-button-color: white !important; /* Botón blanco */
}
