<h2 mat-dialog-title> {{ formStatus }} de cliente </h2>
<mat-dialog-content>
    <form [formGroup]="customerForm">
        <div class="customer-container">
            <mat-form-field>
              <mat-select formControlName="documentType" required>
                  <mat-option value="">Seleccione tipo documento</mat-option>
                  <mat-option value="CC">Cédula de Ciudadanía</mat-option>
                  <mat-option value="CE">Cédula de Extranjería</mat-option>
                  <mat-option value="PAS">Pasaporte</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Número de documento" formControlName="documentNumber" required/>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Nombre completo" formControlName="name" required/>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Correo electrónico" formControlName="email" required/>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Número celular" formControlName="mobileNumber" required/>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button color="primary" (click)="onSave()" [disabled]="customerForm.invalid">
        <mat-icon>save</mat-icon> Guardar
    </button>
    <button mat-button color="primary" (click)="onCancel()">
        <mat-icon>cancel</mat-icon> Cancelar
    </button>
</mat-dialog-actions>
