table {
    width: 100%;
}

ul li {
    list-style: none;
}

.alinear {
    text-align: center;
    margin-top: 20px;
}

.right{
    margin-left: auto;
}

mat-form-field{
    width: 140%;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1){
    flex: 0 0 6%;
}


/* Snackbar personalizado - fondo amarillo, texto negro */
.custom-snackbar {
  --mdc-snackbar-container-color: #ffeb3b !important;  /* Fondo amarillo */
  --mdc-snackbar-supporting-text-color: #000000 !important; /* Texto negro */
  --mat-mdc-snack-bar-button-color: #000000 !important; /* Botón negro */
}
